p {
  color: black;
}

.stack {
  position: relative;
}

.card {
  display: inline-block;
  width: 75px;
  height: 130px;
  border: solid;
  margin-top: 10px;
  padding-left: 5px;
  transition: width .5s, height .5s;
  background: white;
  position: absolute;
}

.onboard {
  position: static;
  margin: 5px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.slot {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid transparent;
  position: absolute;
}

.active {
  border-top: 14px solid rgb(255, 223, 176);
}

.active:hover {
  border-top: 14px solid rgb(241, 152, 19);
}

.boardControls {
  position: absolute;
  margin: 5px;
  bottom: 10px;
}

.boardMessage {
  position: absolute;
  bottom: 25%;
  left: 10%;
}

.selected {
  outline: solid;
  margin-top: 0px;
}

.hovered {
  outline: solid;
}

.card.top {
  position: absolute;
  top: 15px;
  left: 5px;
}

.board {
  position: relative;
  height: 40vh;
  padding: 20px;
  background-color: lightslategray;
}

.hand {
  margin-top: 5px;
  padding: 20px;
  position: relative;
}

.inhand:hover {
  transition: width 1s, height 1s;
  margin-top: 0px;
}

.controls {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.console {
  display: inline-block;
  vertical-align: top;
}

.message.show {
  opacity: 1;
  transition: all 400ms linear;
  left: 0px;
  position: relative;
}

.message.hide {
  opacity: 0;
  transition: all 400ms linear;
  left: 20px;
  position: relative;
}

.player {
  min-width: 150px;
  margin-bottom: 20px;
  padding: 10px;
}